/* src/components/Skills.css */
.skills-container {
    padding: 20px;
    background-color:transparent;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
  }
  
  .skills-title {
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }
  
  .skill-item {
    background-color:transparent;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .skill-item:hover {
    background-color: #000;
  }
  